.GPT{
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.GPT::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}
.GPT::-webkit-scrollbar-track{
    background: transparent;
}
.GPT::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}
.GPT::-webkit-scrollbar-thumb:hover{
    background: #555;
}
/* *{
    overflow: hidden;
} */
/* *:hover{
    overflow: auto;
} */

.GPT{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background: linear-gradient(360deg, #22539e, #161513 80%);
    color:white;
    /* font-family: "Gloria Hallelujah", cursive; */
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    min-width: 200vh;
    display: flex;
    
}

.sidebar{
    flex:3;
    border-right: 3px solid rgb(255, 203, 254);
}
.main{
    flex:9;
}
.logo{
    margin-right: 1rem;
    object-fit: cover;
    width: 8.5rem;
    /* margin-right:2rem; */
}
.brand{
    font-size: 2rem;
}

.upper-side{
    padding: 2rem;
    border-bottom:  3px solid rgb(255, 203, 254);
    height: 70%;
}
.upper-side-image{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}
.addBtn{
    height:2rem;
    padding-right: 1rem;
}
.newChat{
    background: linear-gradient(267deg, #c0289b 20.36%, #4ba7ce 102.06%);
    border: none;
    color:white;
    padding: 1.5rem;
    font-size: 1.5rem;
    /* font-family:  "Gloria Hallelujah", cursive; */
    width:25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 50px;
    transition: 0.5s;
}
.newChat:hover{
    transform: scale(1.05);
    
}
.chat{
    display: flex;
    align-items: start;
    justify-content:start;
    background: transparent;
    color:white;
    padding: 1.5rem;
    width: 25rem;
    margin:1rem auto;
    
    border-radius: 15px;
    border: 1px solid rgb(255, 203, 254);
    transition: 0.5s;
}
.chat:hover{
    transform: scale(1.05);
}
.chat-title{
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}
.chat>img{
    margin-right: 3rem;
    object-fit: cover;
    height: 1.75rem;
}
.lower-side{
    padding:2rem;
}
.list-items{
    margin: 0.75rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.list-items-img{
    margin: 1rem;
    padding-right: 2rem;
}
/* allows you to grab a specific element and adjust the margin slightly */
.list-items:nth-child(1)>.listItemsImg {
    margin-right: 0.5rem;
}
.main{
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 10rem;
    margin-bottom: 0;
}
.main-chats{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 17rem);
}
.main-chats-chat{
    margin: 1rem;
    padding: 2rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    align-items: flex-start;
    text-align: justify;
}
.chat-img{
    object-fit: cover;
    width: 3.5rem;
    margin-right:2rem;
    border-radius: 0.5rem;
}
.bot{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;

}
.chat-footer{
   margin-top: auto;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.user-input{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: rgba(28,30,58,1);
    border-radius: 0.5rem;
    width: 60rem;
}
.user-input input{
    width: calc(100% - 3rem);
    outline: none;
    padding: 1.25rem;
    color: white;
}
.user-input>input, .send{

    background: transparent;
    border:none;
}
.chat-footer>p{
    margin: 1.75rem 0;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}