
.GPT{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background: linear-gradient(360deg, #22539e, #161513 80%);
    color:white;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    display: flex;

}

.sidebar{
    flex:3;
    border-right: 3px solid rgb(255, 203, 254);
}
.main{
    flex:9;
}
.logo{
    margin-right: 1rem;
}
.brand{
    font-size: 2rem;
}

.upper-side{
    padding: 2rem;
}